.mission {
  padding: 100px 20px;
  background-color: var(--primary);
  color: var(--text-on-primary);
}

.mission-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

@media(min-width: 768px) {
  .mission-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.mission-text {
  flex: 1;
}

.mission-text h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: var(--text-on-primary);
}

.mission-text p {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.mission-text blockquote {
  font-style: italic;
  border-left: 5px solid var(--white);
  padding-left: 20px;
  margin: 0;
  color: var(--white);
}

.mission-media {
  flex: 1;
  text-align: center;
}

.mission-media img {
  max-width: 100%;
  border-radius: 12px;
}
